.product {
   border: 1px solid #ccc;
   border-top: none;
   border-left: none;
   padding: 16px;
   position: relative; 
}

.product.soldout {
   opacity: .5;
}

.name {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 0px;
}

.price {
   font-size: 16px;
   font-weight: bold;
   margin-bottom: 8px;
}

.oldPrice {
   text-decoration: line-through;
   height: 20px;
}

.priceDiscount {
   /* font-size: 20px; */
   color: tomato;
   font-weight: bold;
}

.inventory {
   font-size: 14px;
   margin-bottom: 8px;
}

.rating {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 10px;
   font-weight: bold;
   /* background: rgba(255, 255, 255, 0.8);  */
   padding: 10px auto;
   /* border-radius: 5px; */
}
.hiddenBlock{
   position: absolute;
   top: 100%;
   right: 0;
   display: none; 
   background: rgba(231, 231, 231, 0.51);
   width: 100%;
}
.product:hover .hiddenBlock {
   display: block; 
}

.img {
   width: 150px;
   margin-bottom: 10px;
}

.product a {
   text-decoration: none;
   color: black;
}

