.header {
   padding: 10px 5px;
   /* border-bottom: 1px solid silver; */
   box-shadow: 0 0 5px 1px silver;
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}



.navList {
   display: flex;
   align-items: center;
   gap: 20px;
   list-style: none;
   font-size: 18px;
   padding: 0;
   margin: 0;
}

.navList a {
   text-decoration: none;
   color: black;
}

.navList a:hover {
   text-decoration: underline;
   color: rgb(0, 147, 147);
}

.navList a.active {
   color: rgb(0, 147, 147);
   text-decoration: underline;
}

.logImg {
   width: 30px;
   cursor: pointer;
}


.subMenu {
   display: none;
   position: absolute;
   top: calc(100%);
   border: 1px solid silver;
   background: white;
   left: 0;
   gap: 10px;
   padding: 10px;
   /* border-radius: 5px; */
   list-style: none;
}

.subMenuTrigger:hover .subMenu {
   display: block;
}

.subMenuTrigger {
   position: relative;
   cursor: pointer;
}

.subMenuTrigger:hover .arrow {
   transform: rotate(90deg);
}

.arrow {
   margin-left: 5px;
   transition: transform 0.3s ease;
}